.Error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Error a {
    color: royalblue;
    text-decoration:underline;
}

.Error p{
    font-family: sans-serif;
}